body
    background-color #222
    color #EEE
    font-family 'Open Sans', arial
    font-size 16px
    text-align center
    width 100%

figure img
    border-radius 0.5em
    width 100%

footer
    background rgba(255, 255, 255, 0.75)
    bottom 0
    color #FFF
    margin 0 
    padding 0
    left 0
    position fixed
    width 100%


header
    background  url(../img/logo.jpg) no-repeat 95%,
	 		      	url(../img/bg.png) repeat 
    background-size 100px ,100px 100px 
    margin 0           
    padding 0.1em 0
    width 100%

header h1 
    font-family 'Cantata One', serif
    text-shadow #f00 5px 5px 12px;
    padding-right 6.5em
   
header h3
    text-shadow #f00 5px 5px 12px;
    padding-right 6.5em

nav
    background rgba(255, 255, 255, .75)
    margin-bottom 1em
    padding-bottom 0.25em
    padding-top 0.25em
    color #EEE
    width 100%

    ul
        list-style none
        padding 0 
        margin 0.5em
    
        li
            display inline-block
      
            a
                background rgba(128, 128, 128, .75)
                border-radius 0.3em
                color #EEE
                margin: 0.5em
                padding 0.5em
                text-decoration none
                transition all 0.5s linear
                -webkit-transition all 0.5s linear

            a:hover 
                background #F20707
                transform: scale(1.2) rotate(5deg);
                -webkit-transform: scale(1.2) rotate(5deg);
 
        
#camaro
    background-color white 
    border-radius 0.5em
    box-shadow rgba(192, 192, 192, 0.75) 5px 5px 8px
    color #222
    margin 0 0 5em 0
    text-align left 
    width 50%

    figcaption
        margin 1em

#camaro, #historia
    display inline-block
    vertical-align top    

#color div
    border 0.2em solid #CCC
    cursor pointer
    display inline-block
    height 2em
    margin 0.5em 1%
    opacity 0.7
    transition all 0.5s ease
    vertical-align top
    width 27%

#color div:hover
    border 4px solid #EEE
    opacity 1
    transform scale(1.1)
//grilla de colores (no estan en orden alfabetico para ubicarlos mejor)
#amarillo
    background #EEA024

#azul
    background #166CEB
    
#blanco
    background #DCDCDC

#negro
    background #121212
    
#rojo
    background #9F001C

#verde
    background #6CD944      
//fin de grilla de colores

#historia
    background rgba(128, 128, 128, 0.75)
    border-radius 0.5em
    box-shadow rgba(192, 192, 192, 0.75) 5px 5px 8px
    margin 0 2% 5em 1%
    padding 1em
    text-align left
    transition: all 1s ease
    width 40%

#personalizacion
    background rgba(128, 128, 128, 0.75)
    border-radius 0.5em
    box-shadow rgba(192, 192, 192, 0.75) 5px 5px 8px
    display inline-block
    height 0%
    margin 0 1% 5em 2%
    opacity 0
    overflow: hidden;
    padding 1em
    transition all 1s ease
    vertical-align top
    width 40%

    article
        background rgba(255, 255, 255, .75)
        border-radius 0.5em
        box-shadow rgba(192, 192, 192, 0.75) 5px 5px 8px
        margin 0 0 1em 0
        padding 0.5em 
        color #333

    h2
        margin 0 

#rines figure, #luces figure
    border-radius 0.5em
    box-shadow rgba(0, 0, 0, .75) 0px 0px 1em
    cursor pointer
    display inline-block
    margin 0 2% 1em 0
    padding 1%
    vertical-align text-outline 
    width 40%
  
#rines figure:hover img
    transform: rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
  
#rines figure img, #luces figure img
    transition all 1s ease 
    max-width 100%
    
#luces figure img
    transition all 1s ease-in-out 
    max-width 100%    
    
#luces figure:hover img
    transform: rotateX(145deg) rotateY(180deg) rotateZ(360deg);
    -webkit-transform: scale(1.1) rotateX(180deg) rotateY(180deg) rotateZ(360deg);

@media screen and (max-width: 600px)

    #camaro
        width 90%
            
    #historia
        margin-bottom 1em
        width 83%
    section #personalizacion
        margin 0
        padding 0
        position absolute
        left 5%
        top 755px
        min-width 91%
        article
            margin 0.8em
        
@media screen and (max-width:410px)
    nav ul li
        display block
        margin 0.3em
        padding 0.5em
        a
            padding 0.5em 4em
    #personalizacion
        top 700px